body {
  padding: 10px;
  height: 720px;
}

h2 {
  font-size: 20px;
}

#plus {
  height: 3em;
  width: 3em;
}

.scrollable {
  height:90%;
  overflow-y: auto;
}

.outerCardsList {
  border-radius: 6px;
  max-height: 650px;
}

.innerCardsList {
  background-color: rgba(149, 222, 227, 0.76)  ;
  border-radius: 6px;
  padding-top: 15px;
  max-height: 600px;
}

.chatDiv {
  max-height: 550px;
}

.card {
  margin: 10px;
  box-shadow: 3px 3px rgba(94, 141, 145, 0.76);
}
